<h1> Hello World!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'New Article', new_article_path %>

<!-- The link_to method is one of Rails' built-in view helper. It create a hyperlink based on text to display and where to go - in thiscase , to the path for articles.
 -->